body{
    background-image: url(assets/landscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
p{
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
    /* background-color: chartreuse; */
    backdrop-filter: blur(0.7px);
    padding: 10px;
    border-radius: 10px;
}